Flask==3.0.3
Flask-SQLAlchemy>=3.1.1
SQLAlchemy>=2.0.35
Flask-Login==0.6.3
Bootstrap-Flask==2.3.3
python-dotenv==1.0.1
Flask-WTF==1.2.1
WTForms==3.1.2
email_validator==2.1.1
Werkzeug==3.0.1
flask-cors>=4.0.0
gunicorn>=21.2.0